footer

//JAVASCRIPT FRAMEWORKS

//__JQuery from CDN
script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")

//JAVASCRIPT CUSTOM
script(type='text/javascript', src="/js/min/index.min.js")
